.container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 gap: 15px 15px;
 flex-wrap: wrap;
 grid-auto-flow: row;
 grid-template-areas:
    "Palawan imgB Tagaytay"
    "imgP Bohol imgT"
    ". . .";
}

.Palawan {
  grid-area: Palawan;
  text-align: center;
  background-color: #8A9A5B;
  padding: 7px;
  border: 5px double black;
}

.Bohol {
  grid-area: Bohol;
  text-align: center;
  background-color: #8A9A5B;
  padding: 7px;
  border: 5px double black;
}

.Tagaytay {
  grid-area: Tagaytay;
  text-align: center;
  background-color: #8A9A5B;
  padding: 7px;
  border: 5px double black;
}

.imgP {
  grid-area: imgP;
  text-align: center;
  background-color: #8A9A5B;
  padding: 7px;
  border: 5px double black;
}

.imgB {
  grid-area: imgB;
  text-align: center;
  background-color: #8A9A5B;
  padding: 7px;
  border: 5px double black;
}

.imgT {
  grid-area: imgT;
  text-align: center;
  background-color: #8A9A5B;
  padding: 7px;
  border: 5px double black;
}

.header {
  text-align: center;
  background-color: #8A9A5B;
  border: 5px double black;
}

.body {
  justify-content: center;
  background-attachment: fixed;
}

.footer {
  text-decoration: underline;
  border: 5px double black;
  background-color: #8A9A5B;
  text-align: center;
  font-size: 50px;
}


img {
  height: 325px;
  width: 520px;
}

button {
    padding: 5px 15px; 
    font-size: 15px; 
    margin: 10px;
}

body {
  flex-wrap: wrap;
  background: linear-gradient(to right, #c2e59c, #64b3f4);
  
}


